/mbajk_processed.csv
/mbajk_station_1.csv
/mbajk_station_10.csv
/mbajk_station_11.csv
/mbajk_station_12.csv
/mbajk_station_13.csv
/mbajk_station_14.csv
/mbajk_station_15.csv
/mbajk_station_16.csv
/mbajk_station_17.csv
/mbajk_station_18.csv
/mbajk_station_19.csv
/mbajk_station_2.csv
/mbajk_station_20.csv
/mbajk_station_21.csv
/mbajk_station_22.csv
/mbajk_station_23.csv
/mbajk_station_24.csv
/mbajk_station_25.csv
/mbajk_station_26.csv
/mbajk_station_27.csv
/mbajk_station_28.csv
/mbajk_station_29.csv
/mbajk_station_3.csv
/mbajk_station_4.csv
/mbajk_station_5.csv
/mbajk_station_6.csv
/mbajk_station_7.csv
/mbajk_station_8.csv
/mbajk_station_9.csv
